<div class="content-body">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-title text-center pt-5">
            <h4>THÊM DANH MỤC SẢN PHẨM</h4>
          </div>
          <div class="card-body">
            <div class="basic-form">
              <form method="post" action="/admin/category/store">
                <div class="form-group">
                  <label>Tên danh mục</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nhập tên danh mục"
                    id="tenloai"
                    name="tendanhmuc"
                    required
                  />
                </div>
                <div class="form-group">
                  <label>Mô tả</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nhập mô tả"
                    id="mota"
                    name="mota"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">Thêm danh mục</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>