<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-5">
                    <div class="form-input-content text-center">
                        <div class="mb-5">
                            <a class="btn btn-primary" href="/admin/dashboard">Trở về trang chủ</a>
                        </div>
                        <h1 class="error-text  font-weight-bold">403</h1>
                        <h4 class="mt-4"><i class="fa fa-times-circle text-danger"></i> Truy cập bị chặn</h4>
                        <p>Bạn không có quyền để thực hiện thao tác này</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>