<br>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section ">LIÊN HỆ</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row no-gutters mb-5">
            <div class="col-md-6">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <div id="form-message-warning" class="mb-4"></div>
                <div id="form-message-success" class="mb-4">
                  Chúng tôi rất vui khi nhận được mail của bạn!
                </div>
                <form
                  method="POST"
                  id="contactForm"
                  name="contactForm"
                  class="contactForm"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="name">Họ tên</label>
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          id="name"
                          placeholder="Họ tên"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="email">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="email"
                          placeholder="Email"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="subject">Tiêu đề</label>
                        <input
                          type="text"
                          class="form-control"
                          name="subject"
                          id="subject"
                          placeholder="Tiêu đề"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="#">Nội dung</label>
                        <textarea
                          name="message"
                          class="form-control"
                          id="message"
                          cols="30"
                          rows="4"
                          placeholder="Nội dung"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="submit"
                          value="Gửi phản hồi"
                          class="btn btn-primary"
                        />
                        <div class="submitting"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
              <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21591.899322721332!2d105.73900449062923!3d10.034214146621416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0886a6357b8cb%3A0x403756afc4d31fd4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBZIETGsOG7o2MgQ-G6p24gVGjGoQ!5e0!3m2!1svi!2s!4v1638495631321!5m2!1svi!2s" width="550" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>
          </div>
          <br>
          <div style="padding-bottom: 50px"></div>
          <div class="row">
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="fa fa-map-marker"></span>
                </div>
                <div class="text">
                  <p><span>Địa chỉ:</span>
                   274B/8 NVL, An Khánh, Ninh Kiều, Cần Thơ</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="fa fa-phone"></span>
                </div>
                <div class="text">
                  <p><span>Phone:</span>
                    <a href="tel://1234567920">+ 1235 2355 98</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="fa fa-paper-plane"></span>
                </div>
                <div class="text">
                  <p><span>Email:</span>
                    <a
                      href="/cdn-cgi/l/email-protection#80e9eee6efc0f9eff5f2f3e9f4e5aee3efed"
                    ><span
                        class="__cf_email__"
                        data-cfemail="d6bfb8b0b996afb9a3a4a5bfa2b3f8b5b9bb"
                      >[email&#160;protected]</span></a></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="fa fa-globe"></span>
                </div>
                <div class="text">
                  <p><span>Website</span> <a href="#">yoursite.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="padding-bottom: 100px"></div>
<br>