<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- ASIDE -->
      <div id="aside" class="col-md-3">
        

      </div>
      <!-- /ASIDE -->

      <!-- STORE -->
      <div id="store" class="col-md-9">
        <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Đặt hàng thành công!</h4>
        <p>Cảm ơn bạn đã mua hàng ở shop của chúng tôi, bạn có thể xem lại sản phẩm trong đơn hàng</p>
        <hr>
        <p class="mb-0">Sản phẩm đang được duyệt, chúng tôi sẽ giao cho bạn sớm nhất</p>
        </div>
        <div style="margin-bottom: 200px;"></div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->